table-format {
    border-color: red;
}

table th {
    text-align: center;
    border: 2px solid red;
}

table td {
    border: 2px solid red;
    padding: 4px 8px;
    font-weight: 300;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 500px;
}