table-format {
    border-color: red;
}

table th {
    text-align: center;
    border: 2px solid red;
}

table td {
    border: 2px solid red;
    padding: 4px 8px;
    font-weight: 300;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.login-body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid black;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 2opx;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}